h2= compo.name 
p Compo: #{compo.name}

a(href=basepath+'entry/submit/'+compo.encoded_name) submit entry


// this could be ul, but the styles need to adjusted
div.entrylist
    - each entry, i in compo.entries
        p= entry.name + ' by ' + entry.owner

