!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.18.custom.css')
		script(type='text/javascript', src='/javascripts/moment.min.js')
	body
		div#centrum
			div#content
				include include/header
				- if (logged_in)
					p= 'You are logged in as ' + username
					include include/menu_admin
				- else 
					include include/menu
				!= body
			include include/footer
