h2 Register

if logged_in == true
	h2= "You have already registered!"	
	p Multiple accounts are strictly prohibited, and will not be tolerated. Thank you for your co-operation. We will inform the relevant officials of your actions.
	
	a(href="/") go back to index 
else
	form( name='registration', action='register', method='post')
		label Your desired username:

		// inline html to add the autofocus attribute
		| <input type="text" name="username" autofocus />
		| <br />
		label Email (optional):
		input(type='text', name='email')
		| <br />
		label Password:

		input(type='password',
			name='password')

		| <br />

		input(type='submit',
			value='Register')
