div#footer
	span.tight powered by node.js & shit
- var ui_url = '/javascripts/ui.js'
- var jquery_ui_url = '/javascripts/jquery-ui-1.8.18.custom.min.js'
script(type='text/javascript', src=jquery_ui_url)
script(type='text/javascript', src=ui_url)

